.navbar{
    background-image: linear-gradient(to right, #000248, #0C4F89, #189ECC);
}
.footer{
    width: 100%;
    height: 50px;
    padding-left: 10px;
    line-height: 50px; 
    background-image: linear-gradient(to right, #000248, #0C4F89, #189ECC);
    color: #fff;
}

.footer-index{
    width: 100%;
    height: 50px;
    padding-left: 10px;
    line-height: 50px; 
    background-image: linear-gradient(to right, #000248, #0C4F89, #189ECC);
    color: #fff;
}

table {
font-family: arial, sans-serif;
width: 100%;
border-bottom: 1px;
}

td, th {
border: 1px solid #dddddd;
}

tr:nth-child(even) {
background-color: #dddddd;
}

span {
    color: red;
}

th{
    text-align: center !important;
}
